{% extends 'formularz/base.html' %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Optymalizacja sterowców</h1>
  <p class="lead">Projekt na przedmiot <a href="https://syllabuskrk.agh.edu.pl/2017-2018/pl/magnesite/study_plans/stacjonarne-teleinformatyka--2/module/ite-2-203-s-matematyka-w-projektowaniu-sieci-i-systemow">Matematyka w Projektowaniu Sieci i Systemów</a></p>
  <hr class="my-4">
  <p>
  	Najważniejsze pryncypia projektu:
  	<ul>
  		<li>
  			Celem projektu jest minimalizacja ilości sterowców, które mają pokryć określony obszar zasięgiem internetu. </li>
  		<li>
  			Obszar musi być wypukły, określony punktami. 
  		</li>
  		<li>
  			Poza obszarem znajduje się stacja nadawczo-odbiorcza.
		</li>
		<li>
  			Łącze pomiędzy stacją, a najbliższym sterowcem realizowane jest przy użyciu medium, które nie posiada ograniczeń pod względem przepustowości.
  		</li>
  	</ul>
  </p>
  <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
</div>
{% endblock %}