{% extends 'formularz/base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ form.nazwa.value }}</h1>
    <h4 class="display-8">{{ form.lokalizacjapliku.value }}</h4>
    <p class="lead">
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> Błąd podczas zlecania zadania optymalizacji
        </div>
    </p>
  </div>
</div>

{% endblock %}