{% extends 'formularz/base.html' %}

{% block content %}

{% for val in list %}
<ul class="list-group">
  <li class="list-group-item active">Nazwa: <b>{{ val.nazwa }}</b></li>
  <li class="list-group-item">Punkty ograniczajace obszar: <b>{{ val.punkty }}</b></li>
  <li class="list-group-item">Gęstość siatki: <b>{{ val.gestosc }}</b></li>
  <li class="list-group-item">Zasieg sterowca: <b>{{ val.zasieg }}</b></li>
  <!--<li class="list-group-item">Liczba domków: <b>{{ val.liczba_domkow }}</b></li>-->
  <li class="list-group-item">Zapotrzebowania domków: <b>{{ val.zapotrzebowania_domkow }}</b></li>
  <li class="list-group-item">Łącza sterowców: <b>{{ val.lacza_sterowcow }}</b></li>
  <li class="list-group-item">Nazwa pliku: <b>{{ val.lokalizacjapliku }}</b></li>
  <li class="list-group-item">Optymalizacja ukończona? <b>{% if val.czyzrobione %}<i class="fas fa-fw fa-check-circle" style="color: green"></i>

{% else %}<i class="fas fa-fw fa-stop-circle" style="color: red"></i>{% endif %}</b></li>
<li class="list-group-item"><a href="../../view/{{val.id}}/">Graf</a></li>
</ul>
{% empty %}
Nic tu nie istnieje :/
{% endfor %}

{% endblock %}