<meta charset="Windows-1252">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ form.nazwa.value }}</h1>
    <h4 class="display-8">{{ form.lokalizacjapliku.value }}</h4>
    <p class="lead">
        <div class="alert alert-info" role="info">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only"></span> Pomyślnie stworzono zadanie optymalizacyjne!
        </div>
    </p>
  </div>
</div>