{% extends 'formularz/base.html' %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Punkty</th>
      <th scope="col">Gęstość</th>
      <th scope="col">Nazwa pliku</th>
      <th scope="col">Zoptymalizowane?</th>
    </tr>
  </thead>
  <tbody>
    {% for val in list %}
    <tr>
      <td><a href="list/{{ val.id }}">{{ val.nazwa }}</a></td>
      <td>{{ val.punkty }}</td>
      <td>{{ val.gestosc }}</td>
      <td>{{ val.lokalizacjapliku }}</td>
      <td>{% if val.czyzrobione %}<i class="fas fa-fw fa-check-circle" style="color: green"></i>
{% else %}<i class="fas fa-fw fa-stop-circle" style="color: red"></i>{% endif %}</td>
    </tr>
    {% empty %}
    <tr>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}