{% extends 'formularz/base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">{{ nazwa }}</h1>
  <script type="text/javascript">
  window.onload = function() {
    /*var y = 1;
    var dataPoints = []; 
    for(var i = 1 ; i <= 30 ; i++) {
      dataPoints.push({ x: i, y: Math.round(Math.random(i) * 30)});   
      y += 1;
    }*/
    var sterowce = [];
    {% for val in sterowce %}
    sterowce.push({ x: {{ val.0 }}, y: {{ val.1 }} });   
    {% endfor %}

    var domki = [];
    {% for val in domki %}
    domki.push({ x: {{ val.0 }}, y: {{ val.1 }} });   
    {% endfor %}

    var stacje = [];
    {% for val in stacje %}
    stacje.push({ x: {{ val.0 }}, y: {{ val.1 }} });   
    {% endfor %}

    var obszar = [];
    {% for val in obszar %}
    obszar.push({ x: {{ val.0 }}, y: {{ val.1 }} });   
    {% endfor %}

    var obszar2 = [];
    
    obszar2.push({ x: {{ obszar.0.0 }}, y: {{ obszar.0.1 }} }); 
    {% with obszar|last as last %}
    obszar2.push({ x: {{ last.0 }}, y: {{ last.1 }} });   
    {% endwith %}

    
    $("#chartContainer").CanvasJSChart({
      title: {
        text: "Pozycje sterowcow/domkow/stacji nadawczej"
      },
      axisX: {
        interval: 1,
        gridColor: "000000",
        gridThickness: 0.2
      },
      axisY: {
        interval: 1,
        gridColor: "000000",
        gridThickness: 0.2
      },
      data: [
      {
        type: "scatter",
        dataPoints: sterowce,
        markerSize: 10,
        color: "black",
        showInLegend: true,
        legendText: "Sterowiec"
      },
      {
        type: "scatter",
        dataPoints: domki,
        color: "red",
        markerType: "triangle",
        markerSize: 10,
        showInLegend: true,
        legendText: "Domek"

      },
      {
        type: "scatter",
        dataPoints: stacje,
        color: "green",
        markerType: "triangle",
        markerSize: 25,
        showInLegend: true,
        legendText: "Stacja bazowa"

      },
      {
        type: "line",
        dataPoints: obszar,
        color: "purple",
        markerSize: 0,
        showInLegend: true,
        legendText: "Obszar"
      },
      {
        type: "line",
        dataPoints: obszar2,
        color: "purple",
        markerSize: 0
      }

      ],
    });
  }
</script>


<div id="chartContainer" style="width: 100%; height: 500px"></div><br/><br/>

<a href="../../list/{{id}}/">Powrot..</a>

</div>
{% endblock %}